#!/usr/bin/env bash

alias brew_update="brew -v update; brew upgrade --force-bottle --cleanup; brew cleanup; brew cask cleanup; brew prune; brew doctor; npm-check -g -u"
alias cask='brew cask' # i <3 u cask
alias brwe=brew  #typos
